<!--
  Generated template for the ViewUserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>viewUserProfile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: rgb(245, 241, 248)">
  <ion-item>
    <ion-avatar item-start>
      <img src={{profiledata.Pic_Url}} style="height: 100px; width: 100px;">
    </ion-avatar>
    <h2>{{profiledata.Name}}</h2>
    <p>{{profiledata.Email}}</p>
    <p>{{profiledata.Contact}}</p>
    <p>{{profiledata.Work_Place}}</p>
  </ion-item>
  <ion-grid>

    <div >
        <ion-segment [(ngModel)]="abc">
     <ion-segment-button value="one" >
        Followers ({{profiledata.No_Followers}})
     </ion-segment-button>
     <ion-segment-button value="two">
        Following ({{profiledata.No_Following}})
     </ion-segment-button>
        </ion-segment>
     </div>
 
     <div [ngSwitch]="abc">
         <ion-list *ngSwitchCase="'one'">
     <ion-item>
       <ion-thumbnail item-start>
          ({{profiledata.No_Followers}})
         
       </ion-thumbnail>
     </ion-item>
     </ion-list>
 
         <ion-list *ngSwitchCase="'two'">
     <ion-item>
       <ion-thumbnail item-start>
          ({{profiledata.No_Following}})
       </ion-thumbnail>
     </ion-item>
     
         </ion-list>
         <ion-row>
          <p>Posts</p>
      </ion-row>
      <ion-row *ngFor="let post of profiledata.Posts; let i = index">
        <div>
          {{post}}
          <button ion-button (click)= "viewDiscussion(i)">View</button>
        </div>
      </ion-row>
      <ion-row>
          <p>Preferences</p>
      </ion-row>
      <ion-row *ngFor="let pref of profiledata.Preferences; let i = index">
        <div>
          {{pref}}
        </div>
      </ion-row>
      <ion-row>
          <p>Products</p>
      </ion-row>
      
      <ul>
          <li *ngFor="let prod of productdata">
            <p>{{prod.Name}}</p>
            <p>{{prod.Description}}</p>
            <p>Category: {{prod.Interest}}</p>
            <p>Price: Rs.{{prod.Price}}</p>
          </li>
          </ul> 
      <ion-row>
        <div *ngIf="flag">
          <button ion-button (click)="follow()">Follow</button>
        </div>
      </ion-row>
    </div></ion-grid>
</ion-content>
